/* .element-block { 
	margin: 0;
	width: 80px; 
	height: 80px;
	background-color: whitesmoke;
	font-size:50px;
	text-align:center;
	display: table-cell;
	vertical-align:middle;
	border: 1px solid black;
  } */