.App {
  text-align: center;
  position: relative;
}

body {
	background-color: black;
}

.box {
  border: 10px solid black;
  width: fit-content;
  height: fit-content;
  /* position: absolute; */
  box-shadow: 0 12px 16px 0 rgba(81, 81, 81, 0.7), 0 17px 50px 0 rgba(81, 81, 81, 0.7);
}

.white { 
  margin: 0;
  width: 80px; 
  height: 80px;
  background-color: whitesmoke;
  font-size:50px;
  text-align:center;
  display: table-cell;
  vertical-align:middle;
}

.black {
	margin: 0;
	width: 80px; 
	height: 80px;
	background-color: #999;
	font-size:50px;
	text-align:center;
	display: table-cell;
	vertical-align:middle;
	border: 1px solid black;
}